* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #140D91;
  }
.header{
    width: 1440px;
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #140D91;
}
  .sol{
      width: 33%;
      height: 100%;
     display: flex;
     align-items: center;
     justify-content: center; 
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 78px;
line-height: 88.52%;
/* or 69px */

letter-spacing: 0.01em;

color: #0B0669;
  }


  .orta{
    width: 33%;
    height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .sag{
      width: 33%;
      height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2% 3% 2% 3%;
  }
  .frame-mobil{
    display: flex;
    flex-direction: column;
   align-items: center;
    position: absolute;
   
  }
  .rect{
    position: relative; 
    max-width: 100%;
    max-height: 100%;
  }
 
  .mobile-frame{
   
    
  
    background: #000002;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .dark-mode{
      height: 16.58%;
  }
  .yazi{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:  6.16%;
    width: 100%;
    padding-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 52.02%;
    
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .dark-mode-box{
    width: 85.12%;
    height: 40.28%;
    background: linear-gradient(41.67deg, #FFAF0B 1.43%, #FFB928 38.84%, #E7FF57 121.93%);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom:24px;
  }
  

  .alt-box{
    width: 85.12%;
     
      height: 13.86%;
      background-color: #1B1A1D;
        border-radius: 10px;
        margin-bottom:24px;
  }
  .box-ust{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    position: relative;
  }
  
  .box-ust-sag{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    position: absolute;
  }
  .box-ust-sol{
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }

  .box-alt{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
   width: 100%;
 
   margin-top: 128px;
  }

  .yazii{
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 120%;
margin-left: 20px;

color: #FFFFFF;
margin-bottom: 20px;
  }
  .button{
      display: flex;
      align-items: center;
      justify-content: center;
    width: 295px;
    height: 40px;
    color: rgba(255, 255, 255, 0.61);
    background: #9B6800;
    border-radius: 6px;
      margin-left: 20px;
  }
  
  .link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 18px;
    /* or 8px */
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center;
    color: rgba(255, 255, 255, 0.7);
  }