* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
html{
  font-size: 10px;
}
  body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #140D91;
  }
.header{
    width: 1440px;
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #140D91;
}
  .sol{
      width: 33%;
      height: 100%;
     display: flex;
     align-items: center;
     justify-content: center; 
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 78px;
line-height: 88.52%;
/* or 69px */

letter-spacing: 0.01em;

color: #0B0669;
  }


  .orta{
    width: 33%;
    height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .sag{
      width: 33%;
      height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2% 3% 2% 3%;
  }
  .frame-mobil{
    display: flex;
    flex-direction: column;
   align-items: center;
    position: absolute;
   
  }
  .rect{
    position: relative; 
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
  }
 
  .mobile-frame{
    background: #000002;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   transition-timing-function: ease-in;

    transition: 0.4s;
  }
  .dark-mode{
      height: 16.58%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
















/* Dark Mode Button */


  .mode-button{
    width: 20.51%;
    height: 29.285%;
    background: #FFFFFF;
      border-radius: 10002px;
      display: flex;
      flex-direction: row;
      position: relative;
  }
  .mode-circle{
    height: 78.048%;
    
    width: 40%;
    background: #D9D9D9;
border-radius: 6222px;

margin-right: 0.26vw;
/* margin-right: 6.25%;  */
  }
  .mode-icons:active .mode-circle{
   /* transform: translateY(-40px); */
  }
  .mode-circle-ft{
   
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    transition-timing-function: ease-in;

    transition: 0.4s;
  }
  .mode-icons{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
  }
  .sun{
    width: 63.41%;
  height: auto;
  margin-left: 1.36vh;
  transition-timing-function: ease-in;

    transition: 0.4s;
  }
  .moon{
    width: 45.05%;
  height: auto;
  margin-right: 0.63vw;
  transition-timing-function: ease-in;

    transition: 0.4s;
  }
  .mode-sol{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .mode-sag{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }











  
  .trend{
    width: 50%;
    max-height: 50%;
     margin-top: 4.117%;
     display: flex;
     margin-left: 1.31vw;
     margin-top: 1.31vw;
  }
  .trend-box{
    width: 4.79vw;
    height: 1.95vh;
    background-color: #140D91;
    border-radius: 10000px;
  }
  .box-img-ft{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   
    height: auto;
    width: 50%;
    margin-top: 4.117%;
  }
  .box-img{
    max-width: 100%;
    max-height: 100%;
   
  }
  .yazi{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:  6.16%;
    width: 100%;
    padding-left: 7.69%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 52.02%;
    
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
  .dark-mode-box{
    width: 85.12%;
    height: 40.28%;
    background: linear-gradient(41.67deg, #FFAF0B 1.43%, #FFB928 38.84%, #E7FF57 121.93%);
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .box-ust{
    display: flex;
    flex-direction: row;
    height: 50%;
    position: absolute;
   
  }
  .baslik{
    height: 48.529%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 8.823%;
  }
  .bbaslik{
    
    margin-left:5.722%;
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 3.711vh;
font-size: clamp(3.711vh,3.711vh,2.638vh);
line-height: 110%;
/* or 20px */


color: #FFFFFF;
  }
  .box-alt{
    display: flex;
    align-items:flex-start;
    width: 100%;
    flex-direction: column;
    height: 60%;
    position: absolute;
    margin-top: 40%;
    justify-content: flex-start;
  }

  .alt-box{
    width: 85.12%;
     
      height: 37.5%;
      background-color: #1B1A1D;
      border-radius: 1vh;
        margin-bottom:7.69%;
         margin-top:7.69%;
  }
  .alt-boxa{
    width: 85.12%;
     
    height: 37.5%;
      background-color: #1B1A1D;
      border-radius: 1vh;
        margin-bottom:7.69%;
  }
  .uc{
    height: 36.96%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box-ust{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    position: relative;
  }
  
  .box-ust-sag{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    position: absolute;
  }
  .box-ust-sol{
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }

 

  .yazii{
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 120%;
margin-left: 20px;

color: #FFFFFF;
margin-bottom: 20px;
  }
  .buttonn{
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center;
      height: 19.51%;
  }
  .button{
      display: flex;
      align-items: center;
      justify-content: center;
    width: 88.85%;
    height: 100%;
    color: rgba(255, 255, 255, 0.61);
    background: #9B6800;
    border-radius: 6px;
    font-size: 1.56vh;
      /* margin-left: 20px; */
  }
  .alt-button{
      width: 100%;
      height: 31.962%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.56vh;
      line-height: 52.02%;
      /* or 8px */


      color: rgba(255, 255, 255, 0.7);
  }
  .link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 18px;
    /* or 8px */
    width: 100%;
    display: flex;
      align-items: center;
      justify-content: center;
    color: rgba(255, 255, 255, 0.7);
  }

 /*  @media (min-width: 1024px) and (max-width: 1439px) {
    html{
      font-size:4px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    html{
      font-size:4.5px;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    html{
      font-size:3px;
    }
  } */